
<h1 class="text-center">Chart the Stock Market --- freeCodeCamp project</h1>

<div id="container" style="height: 400px; min-width: 310px"></div>

  <form class="form-inline" id="stockForm">
    <div class="form-group">
      <label for="stock">Stock symbol:</label>
      <input type="text" class="form-control" id="stock" placeholder="Enter stock symbol">
    </div>
    <button type="submit" id="addStock" class="btn btn-default">Submit</button>
  </form>

<div id="stocks"></div>


<script>
  var stocks = "{{{stockList}}}";;
  var pollOptions = stocks.split(",");
  getData (pollOptions);
</script>







    



